  
<div class="card-body">
  <p>
    <%= f.label(:title, class: "form-label") %>
    <br>
    <%= f.text_field(:title, class: "form-control rounded") %>
  </p>
  <p>
    <%= f.label(:description, class: "form-label") %>
    <br>
    <%= f.text_area(:description, rows: 5, class: "form-control rounded") %>
  </p>
  <p>
    <%= f.label(:category, class: "form-label") %>
    <br>
    <%= f.collection_select(:category_ids, 
                              Category.all, 
                              :id, 
                              :name, 
                              {prompt: "Please select categories (can be empty)"}, 
                              {multiple: true, size: 3, class: "form-select rounded"}) %>
  </p>
  <p> <%= f.submit(class: "btn btn-primary") %> </p>
</div>
