<h1 class="text-danger">All articles</h1>
<ul class="list-group w-75">
  <% @articles.each do |article| %>
    <li class="card border-2 shadow mb-3 p-3">
      <div class="card-header d-flex justify-content-between">
        <p> <%= article.title %> </p>
        <p> <%= article.user.username %> </p>
      </div>
      <div class="card-body">
        <p class="card-text"><%= article.description%></p>
      </div>
      <div class="d-flex mt-3">
        <%= link_to('Show article', article_path(article), class: "btn btn-primary me-5") %>
        <% if logged_in? && (article.user == current_user || current_user.admin?) %>
          <%= link_to("Edit article", edit_article_path(article), class: "btn btn-primary me-5") %>
          <%= link_to("Delete article", 
                      article_path(article), 
                      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, 
                      class: "btn btn-primary") %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
<% if logged_in? %>
  <%= link_to("Create new article", new_article_path, class: "btn btn-primary") %>
<% end %>
