<h1 class="card-title text-primary">Create a new article</h1>
<%= render "errors" %>
<%= form_with scope: :article, url: articles_path, local: true, class: "card w-50" do |f| %>
  <div class="card-body">
    <p>
      <%= f.label(:title, class: "form-label") %>
      <br>
      <%= f.text_field(:title, class: "form-control") %>
    </p>
    <p>
      <%= f.label(:description, class: "form-label") %>
      <br>
      <%= f.text_area(:description, rows: 5, class: "form-control") %>
    </p>
    <p> <%= f.submit(class: "btn btn-primary") %> </p>
  </div>
<% end %>
