<h1>Article <%= @article.id%></h1>
<div>
  <h3>Title: <%=@article.title%></h3>
  <p>Description: <%=@article.description%></p>
</div>
<p> <%= link_to("Edit article", edit_article_path) %> </p>
<p> <%= link_to("Delete article", article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}) %> </p>
<p> <%= link_to("Articles", articles_path) %> </p>
