<h1 class="text-danger">Categories</h1>
<div class="flickr_pagination mb-4">
  <%= will_paginate @categories, :container => false %>
</div>
<ul class="list-group w-25">
  <% @categories.each do |category| %>
    <li class="card border-2 shadow mb-3 p-3">
      <div class="card-body text-center">
        <h5 class="card-title"><%= link_to category.name, category_path(category), class: 'nav-link' %></h5>
        <p class="card-text"><%= pluralize(category.articles.count, 'article') %></p>
      </div>
    </li>
  <% end %>
</ul>
<div class="flickr_pagination mb-4">
  <div class="page_info">
    <%= page_entries_info @categories %>
  </div>
  <%= will_paginate @categories, :container => false %>
</div>
<% if logged_in? && current_user.admin? %>
  <%= link_to("Create new category", new_category_path, class: "btn btn-primary") %>
<% end %>
